<!-- Irori/templates/base.html -->

<!DOCTYPE html>
<html lang="en">

    <script>
        function lancerD20(bonus) {
            randomValue = Math.floor((Math.random()*19+1))
            finalValue = randomValue + bonus
            alert("Résultat : "+finalValue+" ("+randomValue+"+"+bonus+")")
        }
        function lancerD10(bonus) {
            randomValue = Math.floor((Math.random()*9+1))
            finalValue = randomValue + bonus
            alert("Résultat : "+finalValue+" ("+randomValue+"+"+bonus+")")
        }
        function lancerD8(bonus) {
            randomValue = Math.floor((Math.random()*7+1))
            finalValue = randomValue + bonus
            alert("Résultat : "+finalValue+" ("+randomValue+"+"+bonus+")")
        }
        function lancerD6(bonus) {
            randomValue = Math.floor((Math.random()*5+1))
            finalValue = randomValue + bonus
            alert("Résultat : "+finalValue+" ("+randomValue+"+"+bonus+")")
        }
        function lancerD4(bonus) {
            randomValue = Math.floor((Math.random()*3+1))
            finalValue = randomValue + bonus
            alert("Résultat : "+finalValue+" ("+randomValue+"+"+bonus+")")
        }
    </script>

<head class="has-background-dark">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style type="text/css" media="screen">
            body {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
            }
    
            #wrapper {
            flex: 1;
            }
        </style>
        <!-- Include the Bulma CSS framework for styling -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
        <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
        <title>Irori - {{ personnage }}</title>
    </head>
    <body class="has-background-light">
        <nav class="navbar mb-4" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
              <a class="navbar-item" href="/Irori/Hub/{{ version }}">Irori</a>
          
              <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
              </a>
            </div>
          
            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" href="/Irori/Hub/{{ version }}">Hub</a>
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link" href="/Irori/Fiches/{{ version }}">
                          Voir personnages Joueurs
                        </a>
                
                        <div class="navbar-dropdown">
                          {% for personnage in personnagesJoueur %}
                          <a class="navbar-item" href="/Irori/Fiche/{{ version }}/{{ personnage.id }}">
                            {{ personnage }}
                          </a>
                          {% endfor %}
                        </div>
                      </div>
                      <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link" href="/Irori/Fiches/{{ version }}">
                          Voir PNJ
                        </a>
                
                        <div class="navbar-dropdown">
                          {% for personnage in PNJ %}
                          <a class="navbar-item" href="/Irori/Fiche/{{ version }}/{{ personnage.id }}">
                            {{ personnage }}
                          </a>
                          {% endfor %}
                        </div>
                      </div>
                    <a class="navbar-item" href="/Irori/Village/{{ version }}/{{ personnage.Village.id }}">{{ personnage.Village }}</a>
                    <a class="navbar-item" href="/Irori/CreerPerso/{{ version }}">Créer nouveau personnage</a>
                    <a class="navbar-item" href="/Irori/StatsDes/{{ version }}">Statistiques lancers de dés</a>

                    </div>
          
              <div class="navbar-end">
                <div class="navbar-item">
                    <p>
                        Joueur : {{ username }}<br>
                        <a class="button is-warning" href="/Irori/Logout">Se déconnecter</a>
                    </p>
                </div>
              </div>
            </div>
        </nav>
        <div class="wrapper">
            <div class="container card">
                {% if resultat != -1 %}
                <header class="card-header pl-2 pt-2 pb-2 has-background-{{ couleur_lancer }}-dark">
                    <div>
                        <p class="title has-text-{{ couleur_lancer }}-light">
                            Résultat du dé : {{ resultat }} ( {{ resultat_brut }} + {{ bonus }} )
                        </p>
                    </div>  
                </header>
                {% endif %}
                <header class="card-header pl-2 pt-2 pb-2">
                    <div>
                        <p class="title">
                            {{ personnage }}
                            
                        </p>
                        {% if personnage.Village is not None %}
                        <p class="subtitle">
                            {{ personnage.Role }} de <a href="/Irori/Village/{{ personnage.Village.id }}">{{ personnage.Village }}</a>
                        </p>
                        {% endif %}
                    </div>  
                </header>
                <div class="card-content">
                    <div class="columns">
                        <div class="column">
                            <table class="table is-fullwidth">
                                <thead>
                                    <th>Sexe</th>
                                    <th>Age</th>
                                    <th>Nationalité</th>
                                    <th>Personnalité</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{ personnage.Sexe }}</td>
                                        <td>{{ personnage.Age }} ans</td>
                                        <td>{{ personnage.Nationalite }}</td>
                                        <td>{{ personnage.Personnalite }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="column">
                            <table class="table is-fullwidth">
                                <thead>
                                    <th>Profession</th>
                                    <th>Spécialité</th>
                                    <th class="has-text-success">Aime</th>
                                    <th class="has-text-danger">Déteste</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{ personnage.Profession }}</td>
                                        <td>{{ personnage.Specialite }}</td>
                                        <td class="has-text-success">{{ personnage.Aime }}</td>
                                        <td class="has-text-danger">{{ personnage.Deteste }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="columns">
                        {% for carac in caracs %}
                            {% if carac.Nom == "PV" or carac.Nom == "PP" or carac.Nom == "Moral" %}
                                <div class="column">
                                    <table class="table is-fullwidth has-background-{{ carac.Couleur|lower }}">
                                        <thead>
                                            <th class="has-text-white">Stat</th>
                                            <th class="has-text-white">Actuelle</th>
                                            <th class="has-text-white">Max</th>
                                            <th class="has-text-white"></th>                                            
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="has-text-white">{{ carac.Nom }}</td>
                                                <td class="has-text-white">{{ carac.Points }}</td>
                                                <td class="has-text-white">{{ carac.PointsMax }}</td>
                                                <td class="has-text-white">
                                                    <a class="button is-small has-text-white has-background-{{ carac.Couleur|lower }}" href="/Irori/Fiche/{{ personnage.id }}/Carac/Plus/{{ carac.pk }}">+</a>
                                                    <a class="button is-small has-text-white has-background-{{ carac.Couleur|lower }}" href="/Irori/Fiche/{{ personnage.id }}/Carac/Moins/{{ carac.pk }}">-</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="columns">
                        <div class="column">
                            {% for carac in caracs %}
                                {% if carac.Nom != "PV" and carac.Nom != "PP" and carac.Nom != "Moral" and carac.Nom != "Pouvoir" %}
                                    <div class="container card">
                                        <header class="card-header has-background-{{ carac.Couleur|lower }}">
                                            <p class="card-header-title">
                                                {{ carac.Nom }} - {{ carac.Points }} 
                                            </p>
                                        </header>
                                    </div>
                                        <table class="table is-fullwidth">
                                            <thead>
                                                <th class="has-background-{{ carac.Couleur|lower }}">Compétence</th>
                                                <th class="has-background-{{ carac.Couleur|lower }}">Niveau</th>
                                                <th class="has-background-{{ carac.Couleur|lower }}">
                                                    <a class="button has-text-white has-background-{{ carac.Couleur|lower }}" href="/Irori/Fiche/{{ personnage.id }}/Lancer/20/{{ carac.Points }}">Lancer dés</a>
                                                </th>
                                                <th class="has-background-{{ carac.Couleur|lower }}"></th>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    {% for competence in competences %}
                                                        {% if competence.Categorie == carac %}
                                                        <tr>
                                                            <td class="has-background-{{ carac.Couleur|lower }}-light">{{ competence.Nom }}</td>
                                                            <td class="has-background-{{ carac.Couleur|lower }}-light">{{ carac.Points|add:competence.Bonus }} (+{{ competence.Bonus }})</td>
                                                            <td class="has-background-{{ carac.Couleur|lower }}-light">
                                                                <a class="button has-text-white has-background-{{ carac.Couleur|lower }}" href="/Irori/Fiche/{{ personnage.id }}/Lancer/20/{{ carac.Points|add:competence.Bonus }}">Lancer dés</a>
                                                            </td>
                                                            <td class="has-background-{{ carac.Couleur|lower }}-light has-text-white">
                                                                <a class="button is-small has-text-white has-background-{{ carac.Couleur|lower }}" href="/Irori/Fiche/{{ personnage.id }}/Competence/Plus/{{ competence.pk }}">+</a>
                                                                <a class="button is-small has-text-white has-background-{{ carac.Couleur|lower }}" href="/Irori/Fiche/{{ personnage.id }}/Competence/Moins/{{ competence.pk }}">-</a>
                                                            </td>
                                                        </tr>
                                                        {% endif %}
                                                    {% endfor %}
                                                </tr>
                                            </tbody>
                                        </table>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="column">
                            {% for carac in caracs %}
                                {% if carac.Nom == "Pouvoir" %}
                                    <table class="table is-fullwidth">
                                        <thead>
                                            <th class="has-background-{{ carac.Couleur|lower }}">{{ carac.Nom }} - {{ carac.Points }}</th>
                                            <th class="has-background-{{ carac.Couleur|lower }}">Description</th>
                                            <th class="has-background-{{ carac.Couleur|lower }}">Niveau</th>
                                            <th class="has-background-{{ carac.Couleur|lower }}">Cout</th>
                                            <th class="has-background-{{ carac.Couleur|lower }}">Lancer dés</th>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                {% for pouvoir in pouvoirs %}
                                                    <tr>
                                                        <td class="has-background-{{ carac.Couleur|lower }}-light">{{ pouvoir.Nom }}</td>
                                                        <td class="has-background-{{ carac.Couleur|lower }}-light">{{ pouvoir.Description }}</td>
                                                        <td class="has-background-{{ carac.Couleur|lower }}-light">{{ pouvoir.Niveau }}</td>
                                                        <td class="has-background-{{ carac.Couleur|lower }}-light">{{ pouvoir.Cout }}</td>
                                                        <td class="has-background-{{ carac.Couleur|lower }}-light">
                                                            <a class="button has-text-white has-background-{{ carac.Couleur|lower }}" href="/Irori/Fiche/{{ personnage.id }}/Lancer/20/{{ carac.Points }}">Lancer dés</a>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            </tr>
                                        </tbody>
                                    </table>
                                {% endif %}
                            {% endfor %}

                            <div class="container card">
                                <header class="card-header">
                                    <p class="card-header-title has-background-success-dark has-text-white">
                                        Quetes
                                    </p>
                                </header>
                            </div>
                            <div class="card-content">
                                <table class="table is-striped is-fullwidth">
                                    <thead>
                                        <th class="has-background-success-dark has-text-white">Description</th>
                                        <th class="has-background-success-dark has-text-white">Statut</th>
                                        <th class="has-background-success-dark has-text-white">Récompense</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            {% for quete in quetes %}
                                                <tr>
                                                    {% if quete.Statut == "FAIT" %}
                                                    <td class="is-success">{{ quete.Description }}</td>
                                                    <td class="is-success">{{ quete.Statut }}</td>
                                                    <td class="is-success">{{ quete.Recompense }}</td>
                                                    {% else %}
                                                    <td>{{ quete.Description }}</td>
                                                    <td>{{ quete.Statut }}</td>
                                                    <td>{{ quete.Recompense }}</td>
                                                    {% endif %}
                                                </tr>
                                            {% endfor %}
                                        </tr>
                                    </tbody>
                                </table>
                            </div>



                            <div class="container card">
                                <header class="card-header">
                                    <p class="card-header-title has-background-grey has-text-white">
                                        NOUVELLE COMPETENCE
                                    </p>
                                </header>
                            </div>
                            <div class="card-content">
                                <form id="formComp" action="" method="POST">
                                    {% csrf_token %}
                                </form>
                                <table class="table is-striped is-fullwidth">
                                    <thead>
                                        <th class="has-background-grey has-text-white">Description</th>
                                        <th class="has-background-grey has-text-white">Statut</th>
                                        <th class="has-background-grey has-text-white">Récompense</th>
                                        <th class="has-background-grey has-text-white">Récompense</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><input class="input" type="text" name="Nom_NEW" id="Nom_NEW" form="formComp" value=""></td>
                                            <td><div class="select">
                                                <select name="Categorie_NEW" id="Categorie_NEW" form="formComp">
                                                  <option selected="true">Force</option>
                                                  <option>Constitution</option>
                                                  <option>Dexterite</option>
                                                  <option>Intelligence</option>
                                                  <option>Charisme</option>
                                                  <option>Chance</option>
                                                </select>
                                            </div></td>
                                            <td><input class="input" type="number" name="Bonus_NEW" id="Bonus_NEW" form="formComp" value="1"></td>
                                            <td>
                                                <div>
                                                    <input type="submit" class="button is-small has-text-white has-background-info-dark" id="NEW" value="Save New Item" form="formComp" formaction="/Irori/Fiche/{{ personnage.id }}/NouvelleCompetence">
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <a class="button has-text-white has-background-grey is-fullwidth" href="/Irori/Fiche/{{ personnage.id }}/Lancer/20/0">Lancer D20</a>
                            <br>
                            <a class="button has-text-white has-background-grey is-fullwidth" href="/Irori/Fiche/{{ personnage.id }}/Lancer/10/0">Lancer D10</a>
                            <br>
                            <a class="button has-text-white has-background-grey is-fullwidth" href="/Irori/Fiche/{{ personnage.id }}/Lancer/8/0">Lancer D8</a>
                            <br>
                            <a class="button has-text-white has-background-grey is-fullwidth" href="/Irori/Fiche/{{ personnage.id }}/Lancer/6/0">Lancer D6</a>
                            <br>
                            <a class="button has-text-white has-background-grey is-fullwidth" href="/Irori/Fiche/{{ personnage.id }}/Lancer/4/0">Lancer D4</a>
                            <br>
                        </div>
                    </div>

                    <div class="container card">
                        <header class="card-header">
                            <p class="card-header-title has-background-grey-dark has-text-white">
                                Armes
                            </p>
                        </header>
                    </div>
                    <div class="card-content">
                        <form id="formArmes" action="" method="POST">
                            {% csrf_token %}
                        </form>
                        <table class="table is-striped is-fullwidth">
                            <thead>
                                <th class="has-background-grey has-text-white">Nom</th>
                                <th class="has-background-grey has-text-white">Qualité</th>
                                <th class="has-background-grey has-text-white">Quantité</th>
                                <th class="has-background-grey has-text-white">Stat</th>
                                <th class="has-background-grey has-text-white"> </th>
                            </thead>
                            <tbody>
                                <tr>
                                    {% for objet in armes %}
                                            <tr>
                                                <td><input class="input" type="text" name="Nom_{{ objet.pk }}" id="Nom_{{ objet.pk }}" form="formArmes" value="{{ objet.Nom }}"></td>
                                                <td><div class="select">
                                                    <select name="Qualite_{{ objet.pk }}" id="Qualite_{{ objet.pk }}" form="formArmes">
                                                    {% if objet.Qualite.Nom == "Mediocre" %}
                                                    <option selected="true">Mediocre</option>
                                                    {% else %}
                                                    <option>Mediocre</option>
                                                    {% endif %}
                                                    {% if objet.Qualite.Nom == "Normal" %}
                                                    <option selected="true">Normal</option>
                                                    {% else %}
                                                    <option>Normal</option>
                                                    {% endif %}
                                                    {% if objet.Qualite.Nom == "Bon" %}
                                                    <option selected="true">Bon</option>
                                                    {% else %}
                                                    <option>Bon</option>
                                                    {% endif %}
                                                    {% if objet.Qualite.Nom == "Excellent" %}
                                                    <option selected="true">Excellent</option>
                                                    {% else %}
                                                    <option>Excellent</option>
                                                    {% endif %}
                                                    {% if objet.Qualite.Nom == "Chef d'oeuvre" %}
                                                    <option selected="true">Chef d'oeuvre</option>
                                                    {% else %}
                                                    <option>Chef d'oeuvre</option>
                                                    {% endif %}
                                                    {% if objet.Qualite.Nom == "Parfait" %}
                                                    <option selected="true">Parfait</option>
                                                    {% else %}
                                                    <option>Parfait</option>
                                                    {% endif %}
                                                    </select>
                                                </div></td>
                                                <td><input class="input" type="number" name="Quantite_{{ objet.pk }}" id="Quantite_{{ objet.pk }}" form="formArmes" value="{{ objet.Quantite }}"></td>
                                                <td><input class="input" type="text" name="Statistique_{{ objet.pk }}" id="Statistique_{{ objet.pk }}" form="formArmes" value="{{ objet.Statistique }}"></td>
                                                <td>
                                                    <div>
                                                        <input type="submit" class="button is-small has-text-white has-background-success-dark" id="{{ objet.pk }}" value="Attack" form="formArmes" formaction="/Irori/Fiche/{{ personnage.id }}/Attaque/{{ objet.pk }}">
                                                        <input type="submit" class="button is-small has-text-white has-background-info-dark" id="{{ objet.pk }}" value="Save" form="formArmes" formaction="/Irori/Fiche/{{ personnage.id }}/Update/{{ objet.pk }}">
                                                        <input type="submit" class="button is-small has-text-white has-background-danger-dark" id="{{ objet.pk }}" value="Delete" form="formArmes" formaction="/Irori/Fiche/{{ personnage.id }}/Delete/{{ objet.pk }}">
                                                    </div>
                                                </td>
                                            </tr>
                                    {% endfor %}
                                    <tr>
                                        <td><input class="input" type="text" name="Nom_NEW" id="Nom_NEW" form="formArmes" value=""></td>
                                        <td><div class="select">
                                            <select name="Qualite_NEW" id="Qualite_NEW" form="formArmes">
                                              <option>Mediocre</option>
                                              <option selected="true">Normal</option>
                                              <option>Bon</option>
                                              <option>Excellent</option>
                                              <option>Chef d'oeuvre</option>
                                              <option>Parfait</option>
                                            </select>
                                        </div></td>
                                        <td><input class="input" type="number" name="Quantite_NEW" id="Quantite_NEW" form="formArmes" value="0"></td>
                                        <td><input class="input" type="text" name="Statistique_NEW" id="Statistique_NEW" form="formArmes" value=""></td>
                                        <td>
                                            <div>
                                                <input type="submit" class="button is-small has-text-white has-background-info-dark" id="NEW" value="Save New Item" form="formArmes" formaction="/Irori/Fiche/{{ personnage.id }}/Create">
                                            </div>
                                        </td>
                                    </tr>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="container card">
                        <header class="card-header">
                            <p class="card-header-title has-background-grey-dark has-text-white">
                                Armures
                            </p>
                        </header>
                    </div>
                    <div class="card-content">
                        <form id="formArmures" action="" method="POST">
                            {% csrf_token %}
                        </form>
                        <table class="table is-striped is-fullwidth">
                            <thead>
                                <th class="has-background-grey has-text-white">Nom</th>
                                <th class="has-background-grey has-text-white">Qualité</th>
                                <th class="has-background-grey has-text-white">Quantité</th>
                                <th class="has-background-grey has-text-white">Stat</th>
                                <th class="has-background-grey has-text-white"> </th>
                            </thead>
                            <tbody>
                                <tr>
                                    {% for objet in armures %}
                                            <tr>
                                                <td><input class="input" type="text" name="Nom_{{ objet.pk }}" id="Nom_{{ objet.pk }}" form="formArmures" value="{{ objet.Nom }}"></td>
                                                <td><div class="select">
                                                    <select name="Qualite_{{ objet.pk }}" id="Qualite_{{ objet.pk }}" form="formArmures">
                                                    {% if objet.Qualite.Nom == "Mediocre" %}
                                                    <option selected="true">Mediocre</option>
                                                    {% else %}
                                                    <option>Mediocre</option>
                                                    {% endif %}
                                                    {% if objet.Qualite.Nom == "Normal" %}
                                                    <option selected="true">Normal</option>
                                                    {% else %}
                                                    <option>Normal</option>
                                                    {% endif %}
                                                    {% if objet.Qualite.Nom == "Bon" %}
                                                    <option selected="true">Bon</option>
                                                    {% else %}
                                                    <option>Bon</option>
                                                    {% endif %}
                                                    {% if objet.Qualite.Nom == "Excellent" %}
                                                    <option selected="true">Excellent</option>
                                                    {% else %}
                                                    <option>Excellent</option>
                                                    {% endif %}
                                                    {% if objet.Qualite.Nom == "Chef d'oeuvre" %}
                                                    <option selected="true">Chef d'oeuvre</option>
                                                    {% else %}
                                                    <option>Chef d'oeuvre</option>
                                                    {% endif %}
                                                    {% if objet.Qualite.Nom == "Parfait" %}
                                                    <option selected="true">Parfait</option>
                                                    {% else %}
                                                    <option>Parfait</option>
                                                    {% endif %}
                                                    </select>
                                                </div></td>
                                                <td><input class="input" type="number" name="Quantite_{{ objet.pk }}" id="Quantite_{{ objet.pk }}" form="formArmures" value="{{ objet.Quantite }}"></td>
                                                <td><input class="input" type="text" name="Statistique_{{ objet.pk }}" id="Statistique_{{ objet.pk }}" form="formArmures" value="{{ objet.Statistique }}"></td>
                                                <td>
                                                    <div>
                                                        <input type="submit" class="button is-small has-text-white has-background-info-dark" id="{{ objet.pk }}" value="Save" form="formArmures" formaction="/Irori/Fiche/{{ personnage.id }}/Update/{{ objet.pk }}">
                                                        <input type="submit" class="button is-small has-text-white has-background-danger-dark" id="{{ objet.pk }}" value="Delete" form="formArmures" formaction="/Irori/Fiche/{{ personnage.id }}/Delete/{{ objet.pk }}">
                                                    </div>
                                                </td>
                                            </tr>
                                    {% endfor %}
                                    <tr>
                                        <td><input class="input" type="text" name="Nom_NEW" id="Nom_NEW" form="formArmures" value=""></td>
                                        <td><div class="select">
                                            <select name="Qualite_NEW" id="Qualite_NEW" form="formArmures">
                                              <option>Mediocre</option>
                                              <option selected="true">Normal</option>
                                              <option>Bon</option>
                                              <option>Excellent</option>
                                              <option>Chef d'oeuvre</option>
                                              <option>Parfait</option>
                                            </select>
                                        </div></td>
                                        <td><input class="input" type="number" name="Quantite_NEW" id="Quantite_NEW" form="formArmures" value="0"></td>
                                        <td><input class="input" type="text" name="Statistique_NEW" id="Statistique_NEW" form="formArmures" value=""></td>
                                        <td>
                                            <div>
                                                <input type="submit" class="button is-small has-text-white has-background-info-dark" id="NEW" value="Save New Item" form="formArmures" formaction="/Irori/Fiche/{{ personnage.id }}/Create">
                                            </div>
                                        </td>
                                    </tr>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="container card">
                        <header class="card-header">
                            <p class="card-header-title has-background-grey-dark has-text-white">
                                Inventaire
                            </p>
                        </header>
                    </div>
                    <div class="card-content">
                        <form id="formInventaire" action="" method="POST">
                            {% csrf_token %}
                        </form>
                        <table class="table is-striped is-fullwidth">
                            <thead>
                                <th class="has-background-grey has-text-white">Nom</th>
                                <th class="has-background-grey has-text-white">Qualité</th>
                                <th class="has-background-grey has-text-white">Quantité</th>
                                <th class="has-background-grey has-text-white">Stat</th>
                                <th class="has-background-grey has-text-white"> </th>
                            </thead>
                            <tbody>
                                <tr>
                                    {% for objet in inventaire %}
                                            <tr>
                                                <td><input class="input" type="text" name="Nom_{{ objet.pk }}" id="Nom_{{ objet.pk }}" form="formInventaire" value="{{ objet.Nom }}"></td>
                                                <td><div class="select">
                                                    <select name="Qualite_{{ objet.pk }}" id="Qualite_{{ objet.pk }}" form="formInventaire">
                                                    {% if objet.Qualite.Nom == "Mediocre" %}
                                                    <option selected="true">Mediocre</option>
                                                    {% else %}
                                                    <option>Mediocre</option>
                                                    {% endif %}
                                                    {% if objet.Qualite.Nom == "Normal" %}
                                                    <option selected="true">Normal</option>
                                                    {% else %}
                                                    <option>Normal</option>
                                                    {% endif %}
                                                    {% if objet.Qualite.Nom == "Bon" %}
                                                    <option selected="true">Bon</option>
                                                    {% else %}
                                                    <option>Bon</option>
                                                    {% endif %}
                                                    {% if objet.Qualite.Nom == "Excellent" %}
                                                    <option selected="true">Excellent</option>
                                                    {% else %}
                                                    <option>Excellent</option>
                                                    {% endif %}
                                                    {% if objet.Qualite.Nom == "Chef d'oeuvre" %}
                                                    <option selected="true">Chef d'oeuvre</option>
                                                    {% else %}
                                                    <option>Chef d'oeuvre</option>
                                                    {% endif %}
                                                    {% if objet.Qualite.Nom == "Parfait" %}
                                                    <option selected="true">Parfait</option>
                                                    {% else %}
                                                    <option>Parfait</option>
                                                    {% endif %}
                                                    </select>
                                                </div></td>
                                                <td><input class="input" type="number" name="Quantite_{{ objet.pk }}" id="Quantite_{{ objet.pk }}" form="formInventaire" value="{{ objet.Quantite }}"></td>
                                                <td><input class="input" type="text" name="Statistique_{{ objet.pk }}" id="Statistique_{{ objet.pk }}" form="formInventaire" value="{{ objet.Statistique }}"></td>
                                                <td>
                                                    <div>
                                                        <input type="submit" class="button is-small has-text-white has-background-info-dark" id="{{ objet.pk }}" value="Save" form="formInventaire" formaction="/Irori/Fiche/{{ personnage.id }}/Update/{{ objet.pk }}">
                                                        <input type="submit" class="button is-small has-text-white has-background-danger-dark" id="{{ objet.pk }}" value="Delete" form="formInventaire" formaction="/Irori/Fiche/{{ personnage.id }}/Delete/{{ objet.pk }}">
                                                    </div>
                                                </td>
                                            </tr>
                                    {% endfor %}
                                    <tr>
                                        <td><input class="input" type="text" name="Nom_NEW" id="Nom_NEW" form="formInventaire" value=""></td>
                                        <td><div class="select">
                                            <select name="Qualite_NEW" id="Qualite_NEW" form="formInventaire">
                                              <option>Mediocre</option>
                                              <option selected="true">Normal</option>
                                              <option>Bon</option>
                                              <option>Excellent</option>
                                              <option>Chef d'oeuvre</option>
                                              <option>Parfait</option>
                                            </select>
                                        </div></td>
                                        <td><input class="input" type="number" name="Quantite_NEW" id="Quantite_NEW" form="formInventaire" value="0"></td>
                                        <td><input class="input" type="text" name="Statistique_NEW" id="Statistique_NEW" form="formInventaire" value=""></td>
                                        <td>
                                            <div>
                                                <input type="submit" class="button is-small has-text-white has-background-info-dark" id="NEW" value="Save New Item" form="formInventaire" formaction="/Irori/Fiche/{{ personnage.id }}/Create">
                                            </div>
                                        </td>
                                    </tr>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>