<!-- Irori/templates/base.html -->

<!DOCTYPE html>
<html lang="en">

<head class="has-background-dark">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style type="text/css" media="screen">
            body {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
            }
    
            #wrapper {
            flex: 1;
            }
        </style>
        <!-- Include the Bulma CSS framework for styling -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
        <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
        <title>Irori - {{ personnage }}</title>
    </head>
    <body class="has-background-light">

        <div class="wrapper">
            {% include "components/base_header.html" %}
            <div class="container card has-text-centered is-centered">
                {% if resultat != -1 %}

                        <header class="pb-2 pt-2 has-background-{{ couleur_lancer }}-dark">
                            <div>
                                <p class="title has-text-{{ couleur_lancer }}-light">
                                    Résultat du dé : {{ resultat }} ( {{ resultat_brut }} + {{ bonus }} )
                                </p>
                            </div>  
                        </header>
                
                {% endif %}

                <header class="pt-2 pb-2">
                    <div>
                        <p class="title">
                            {{ personnage }}
                        </p>
                        {% if personnage.Village is not None %}
                        <p class="subtitle">
                            {{ personnage.Role }} de <a href="/Irori/Village/{{ version }}/{{ personnage.Village.id }}">{{ personnage.Village }}</a>
                        </p>
                        {% endif %}
                    </div>  
                </header>
            </div>

            <div class="container card mt-5" style="box-shadow: none">
              <div class="tabs is-centered is-boxed is-medium has-background-light mt-1">
                <ul>
                  {% if Onglet == "Personnage" %} 
                  <li class="is-active">
                  {% else %}
                  <li>
                  {% endif %}
                    <a href="/Irori/Fiche/{{ version }}/{{ personnage.id }}/Personnage">
                      <span class="icon is-small"><i class="fas fa-user" aria-hidden="true"></i></span>
                      <span>Personnage</span>
                    </a>
                  </li>
                  {% if Onglet == "Competences" %} 
                  <li class="is-active">
                  {% else %}
                  <li>
                  {% endif %}
                    <a href="/Irori/Fiche/{{ version }}/{{ personnage.id }}/Competences">
                      <span class="icon is-small"><i class="fas fa-dice" aria-hidden="true"></i></span>
                      <span>Compétences</span>
                    </a>
                  </li>
                  {% if Onglet == "Inventaire" %} 
                  <li class="is-active">
                  {% else %}
                  <li>
                  {% endif %}
                    <a href="/Irori/Fiche/{{ version }}/{{ personnage.id }}/Inventaire">
                      <span class="icon is-small"><i class="fas fa-box" aria-hidden="true"></i></span>
                      <span>Inventaire</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>


            {% if Onglet == "Personnage" %} 
            {% include "components/personnage.html" %}
            {% endif %}

            {% if Onglet == "Competences" %} 
            {% include "components/competences.html" %}
            {% endif %}

            {% if Onglet == "Inventaire" %} 
            {% include "components/inventaire.html" %}
            {% endif %}

        </div>
    </body>
</html>